.root {
  position: relative;

  input {
    &::placeholder {
      opacity: 0.5;
    }
  }
}

.input {
  padding: 8px 12px;
  padding-left: 44px;
  width: 100%;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 500;
  background-color: #f7f7f8;
  border: none;
  outline: none;
  caret-color: #6534ff;
}

.icon {
  position: absolute;
  top: 5px;
  left: 12px;
  opacity: 0.3;
}

.filters {
  position: absolute;
  right: 12px;
  top: 5px;
  cursor: pointer;
  z-index: 9;
}
