.person {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px;
  color: var(--text-color);
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;

  h4 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  span {
    font-size: 14px;
    opacity: var(--text-opacity);
  }
}

.info {
  p {
    font-size: 13px;
    opacity: var(--text-opacity);
  }
}
