.main {
  background-color: #f7f7f8;
  padding: 24px;
}

.arrow {
  padding: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 72px;

  div {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  img {
    width: 104px;
    height: 104px;
    border-radius: 50px;
    margin-bottom: 24px;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  span {
    font-size: 17px;
    opacity: 0.4;
  }
  p {
    font-size: 13px;
    opacity: 0.6;
  }
}

.additional {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;

    .age {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      span {
        opacity: 0.5;
      }
    }
  }
}

.center {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds_dual_ring 1.2s linear infinite;
  }
  @keyframes lds_dual_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
