body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="light"] {
  --background-color: #ffffff;
  --profile-background: #f7f7f8;
  --text-color: #000000;
  --text-opacity: 0.6;
  --line-color: #c3c3c6;
  --input-color: #f7f7f8;
}

[data-theme="dark"] {
  --background-color: #121212;
  --profile-background: #1c1c1d;
  --text-color: #ffffff;
  --text-opacity: 0.6;
  --line-color: #242121;
  --input-color: #1e1e20;
}

.wrapper {
  padding: 8px 16px;
  padding-bottom: 0;
}

.line {
  border: 0;
  height: 1px;
  background-color: var(--line-color);
  margin: 0;
}
